# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
C:\Users\Cristian Molinari\Documents\work-area\bestCollection\xmlProject\5. XSL\Constants\PathFile.java
